body {
    font-family: Roboto, sans-serif;
}

.header {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-between;
    padding: 8px 160px 0;
}

.header img {
    height: 60px;
    width: 60px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
  }

.left, .right {
    display: flex;
    align-items: center;
}

.hero img {
    max-width: 375px;
}

.hero {
    display: flex;
    background: #1f2937;
    justify-content: center;
    gap: 80px;
    padding: 80px 160px;
}

button {
    padding: 8px 24px;
    background-color: #3882f6;
    border-radius: 15px;
    color: #F9FAF8;
    font-weight: bold;
    border: none;
}
.title {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    padding-bottom: 8px;
}

.sub-title {
    font-size: 18px;
    color: #e5e7eb;
    padding-bottom: 8px;
}

.info img {
    max-width: 100px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    padding: 8px;
}

.information {
    display: flex;
    justify-content: center;
    padding: 40px 160px;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.container {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 48px;
    padding: 0 260px 80px;
}

.info {
    max-width: 122px;
}

.text {
    font-size: 18px;
    color: #1f2937;
}